:root {
  --blanco: #ffffff;
  --background: #F5DBE1;
  --gris2: #2f3848;
  --green: rgb(50, 217, 92, .6);
  --yellow: rgb(239,208,99,.45);
  --black: rgb(0,0,0,1);
  --reddink: rgb(242,56,105,1);
  --lightyellow: #F8F4D1;
  --lime: #DBE709;
  --salmon: #FF6A5D;
  --headingFont:'Bungee Shade', cursive;
  --textFont:  'Prata', serif;
  --dashFont: 'Questrial', sans-serif;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
  background-color: var(--lightyellow) !important;
  p{
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
header {
  padding-top: .7em;
  padding-bottom: .3em;
  display: flex;
  justify-content: center;
}
.logo {
  height: 80%;
}
/*BTN*/
.btn {
  font-family: var(--textFont);
  font-size: 1.4 em;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn-header{
  margin-top: 0em;
  font-size: .6 em;
  background-color: transparent;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

/*ASIDE*/

main{
  max-width: 100%;
}

/*----------------------Landing Page---------------------------*/
.contenedor{
  height:150vh;
  width: 100vw;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .cont-video1{
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    width: 100%;
    position:relative;
  }
  .vid{
    position: absolute; 
    top: 0; left:5%;
    width: auto; height: 100%;
    border-radius: 2%;
    z-index: -1;
  }
  .cont-video2{
    grid-row: 1 / 5;
    grid-column: 6 / 8;
    width: 100%;
    position:relative;
    display:inline-block;
  }
  .cont-video3{
    grid-row: 3 / 6;
    grid-column: 11 / 12;
    width: 100%;
    position:relative;
    display:inline-block;
  }
  .cont-video4{
    grid-row: 6 / 10;
    grid-column: 3 / 8;
    width: 100%;
    position:relative;
    display:inline-block;
    z-index: -1;
  }
  .vidh{
    position: absolute; 
    top: 0; left:0;
    width: 100%; height: auto;
    border-radius: 2%;
  }
  
  .cont-quote{
    grid-row: 1 / 3;
    grid-column: 11 / 12;
    width: 100%;
    position:relative;
    display:inline-block;
  
    .quote{
      position: absolute; 
      top: 0; left:50%;
      width: 100%; height: auto;
      font-size: 16px;
      text-align: center;
      font-family: var(--textFont);
      font-weight: 100;
    }
    .boldie{
      font-style: italic;
      font-weight: bold;
    }
  }
  
  .cont-action-btn{
    grid-row: 2 / 3;
    grid-column: 9 / 10;
    width: 100%;
    position:relative;
    display:inline-block;
    
    .action{
      position: absolute; 
      top: 0; left:0;
      width: 100%; height: 100%;
      font-family: var(--headingFont);
      font-size: 18px;
      background-color: rgb(50, 217, 92);
      border-radius: 10%;
      border-style: none;
    }
    .action:hover{
      background-color: var(--background);
      color: rgb(242,56,105,1);
    }
  }
  
  .cont-anim-logo{
    background-color: #dce7095e !important;
    grid-row: 2 / 6;
    grid-column: 2 / 7;
    width: 100%; height: 100%;
    position:relative;
    display:inline-block;
  
    .tandem-logo{
      padding: 10px;
      position: absolute; 
      top: 0; left:0;
      width: 100%; height: 100%;
    }
  }
  
  .cont-texto{
    grid-row: 7 / 12;
    grid-column: 8 / 11;
    width: 100%; height: 100%;
    position:relative;
    display:inline-block;
  
    .texto1{
      text-align: right;
      position: absolute;
      top: -4%; left:0;
      width: 100%; height: 33.3%;
      font-family: var(--textFont);
      font-size: 9rem;
    }
    .texto2{
      text-align: right;
      position: absolute;
      top: 29.3%; left:0;
      width: 100%; height: 33.3%;
      font-family: var(--textFont);
      font-size: 9rem;
    }
    .texto3{
      text-align: right;
      position: absolute;
      top: 59.6%; left:0;
      width: 100%; height: 33.3%;
      font-family: var(--textFont);
      font-size: 9rem;
    }
  }
}



/*-----------------------signup Page-----------------------*/
.signup{
  margin: auto;
  padding: 0 !important;
  background: radial-gradient(50% 50% at 50% 50%, #83AAF3 0%, #97D0C4 100%);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .cont-form{
    grid-row: 1 / 9;
    grid-column: 1 / 6;
    width: 100%; height: auto;
    position:relative;
    display:inline-block;

    .chevron{
      width: 3rem;
      height: auto;
      color: black;
    }

    .titulo{
      padding: .5rem;
      margin-left: 1rem;
      font-size: 3rem;
      font-family: var(--textFont);
    }
  
    .campo-form{
      font-family: var(--textFont);
      font-size: 1rem;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      label{
        margin: auto;
        padding-bottom: 1rem;
        font-size: 1.5rem;
      }
      .input-box{
        margin: auto;
        border: none;
        background-color: var(--background);
        width: 60%;
        height: 3.2rem;
        border-radius: .7rem;
      }
      .input-box:focus{
        outline: none;
        color: #441459;
        font-size: 1.2rem;
        background-color: rgb(50, 217, 92, .8);
      }
      .submit-btn{
        margin-bottom: .8rem;
        width: 20%;
        margin: auto;
        height: 4rem;
        border: none;
        background-color: rgb(50, 217, 92, 1);
        font-size: 2rem;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .25);

      }
      
    }

  }
  .logink{
    font-family: var(--textFont);
    text-decoration: none;
    color: black;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
  }
  .logink:hover{
    color: #441459;
  }
  .cont-logo{
    margin: auto;
    margin-top: 2rem;
    width: 30%;
    display: flex;
    justify-content: center;

    .logo-small{
      padding: 1rem;
      margin: auto;
    }
  }

  .cont-banner{
    grid-row: 1 / 9;
    grid-column: 6 / 13;
    width: 100%; height: 100%;
    position:relative;
    display:inline-block;

    .banner{
      position: absolute;
      top: 3%; left: 0;
      width: 100%; height: 96%;
    }
  }
}

/*------------------Login page------------------*/
.log-cont{
  background-color: rgb(50, 217, 92, 1);
  margin: 0;
  padding: 1.6rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
    .backChevron{
      height: 3rem;
      color: var(--black);
    }
    .form-container{
      margin: auto;
      margin-bottom: 1.5rem;
      height: 55vh;
      width: 30%;
      display: flex;
      font-family: var(--textFont);
      padding: 1.2rem;
      border: 1rem solid var(--background);
      border-radius: 10%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        .titulo{
          font-size: 5rem;
          font-weight: bold;
          margin-top: 3rem;
        }
        .cont-login{
          display: flex;
          flex-direction: column;
          height: 60vh;
          width: 100%;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 2rem;
          .login-form{
            .loginput-box{
              background-color: transparent;
              width: 25rem;
              text-align: center;
              border: none;
              border-bottom: .3rem solid var(--background);
              font-size: 1.2rem;
            }
            .loginput-box::placeholder{
              color: darkslategrey;
            }
            .loginput-box:focus{
              outline: none;
              font-size: 1.4rem;
              color: var(--black);
            }
          }
          .login-submit{
            height: 4rem;
            background-color: var(--background);
            border: none;
            border-radius: .7rem;
            color: var(--black);
            font-size: 1.5rem;
          }
          .login-submit:hover{
            color: rgb(50, 217, 92, 1);
            background-color: rgb(24, 23, 23);
          }
        }
        .loginLink{
          color: var(--black);
          text-decoration: inherit;
        }
        
    }
    .banner-container{
      display: flex;
      justify-content: center;
      padding: 1rem;
      height: 35vh;
    }

}

/*------------------------------------------------------------Logged Header------------------------------------------------------------*/
.loggedHead-cont{
  display: flex;
  height: 6.5em;
  background-color: var(--blanco);;

  .logo-cont{
    background-color: var(--blanco);
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 1em;
  }
  .routes-cont{
    background-color: var(--blanco);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-icon{
      height: 2.5em;
      margin-left: 1.5em;
    }
  }
  .icons-cont{
    background-color: var(--lime);
    border-radius: 0em 0em 0em 0em;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    .route{
      font-family: var(--textFont);
      font-size: 1.4em;
      color: var(--black);
      margin-left: 1.8em;
      transform: translateY(.4em);
    }
    .header-icon{
      height: 2.5em;
      margin-left: 1.8em;
      color: var(--black);
    }
  }
}

/*---------------------Sell/Rent Form---------------------*/
.conteneform{
  background-image: url("./media/imgs/cool-1.jpg");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: var(--blanco);
  background-size: 17%;
  display: flex;
  flex-direction: row;
  position: absolute;
  .form-cont{
    width: 85.8vw;
    height: 90vh;
    display: flex;
    // display: grid;
    // gap: 10px;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // font-family: var(--textFont);
    .principal-form{
      transform: translateX(-10%);
      padding: .5em;
      margin: auto;
      width: 80%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title-form{
        display: flex;
        width: 90%;
        height: 5em;
        justify-content: start;
        align-items: center;
        color: black;
      }
      .cont-sec-form{
        width: 90%;
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .sec-form{
        border-radius: 2.4em;
        border: .5em solid rgba(118, 255, 145, 1);
        padding: 1em;
        width: 45%;
        height: 10em;
        margin: 1em;
        label{
          color: black;
          font-size: 1.6rem;
          font-family: var(--textFont);
          margin-bottom: 2em;
        }
      }
      .info{
        border-radius: 0em;
        border: none;
        .input-box{
          font-size: 1.4em;
          .opt-form{
            font-size: 1.1em;
            color: rgb(51, 52, 58);
          }
          .opt-form:hover{
            background-color: yellowgreen !important;
            font-size: 1em;
            color: var(--gris2) !important;
          }
        }
      }

      .tipo{
        border-radius: .2em;
        padding: 0em;
        height: 230px;
        width: 230px;
        position: relative;
        float: left;
        margin: 2em;
        box-sizing: border-box;
        .contenido-tipo{
          border-radius: .2em;
          height: 96%;
          width: 96%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .5s ease;
        }
        .check-input{
          position: absolute;
          top: 0;
          left: 0;
          width: 220px;
          cursor: pointer;
          height: 22em;
          border-radius: none;
          outline: none;
          opacity: .5;
          appearance: none;
          border: none;
        }
        .check-input:hover{
          background-color: rgba(37, 37, 29, 0.1);
        }
        .check-input:checked ~ .contenido-tipo {
          background-color: rgba(11, 175, 44, 0.4);
          border: .4em solid rgb(245, 187, 187);
        }
      }
      .afiliado{
        border-radius: 0em;
        border: none;
        height: 80%;
        width: 70%;
      }
      .uno{
        background-image: url('./media/imgs/venta-1.jpg');
        background-repeat: no-repeat;
        border: none;
      }
      .dos{
        background-image: url('./media/imgs/renta-1.jpg');
        background-repeat: no-repeat;
        border: none;
      }


      .inicio{
        width: 90%;
        height: 80%;
        border: none;
        .intro-text{
          font-size: 1.8em;
          text-align: center;
          padding: .4em;
          .nombre-usuario{
            font-weight: bolder;
          }
        }
      }
      .cont-buttons{
        margin-top: 2em;
        width: 70%;
        display: flex;
        justify-content: center;
      }
      .btn-step{
        background-color: rgba(118, 255, 145, 1);
        height: 3em;
        width: 15%;
        padding: .8em;
        font-size: 1.5em;
        margin: 1em 1em 0em 1em;
      }
    }
    
  }
  .cont-card{
    width: 15vw;
    height: auto;
    padding-left: 0px;
    background-color: var(--blanco);
    .cont-steps{
      background-color: var(--salmon);
      box-sizing: initial;
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 100%;
      height: 38%;
      border-radius: 0em 1em 1em 0em;
      padding-bottom: 2em;

      .step{
        position: relative;
        height: 18%;
        display: flex;
        align-items: flex-end;
        margin-left: 2.5em;
        font-weight: bold;
        color: salmon;
        font-family: var(--textFont);
        font-size: 1.4em;
        transition: .5s ease;
      }
      .step-on{
        height: 18%;
        display: flex;
        align-items: flex-end;
        margin-left: 2.5em;
        font-weight: bold;
        color:black;
        font-family: var(--textFont);
        font-size: 1.4em;
      }
    }
    .step-off{
      font-size: 1.4em;
    }
  }
  .cont-logo{
    background-image: url('./media//imgs/logo-bike.svg');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 57%;
    width: 100%;
  }
}
.input-box{
  height: 5rem;
  width: 70%;
  margin-top: 1rem;
  border: .2em solid rgb(255, 83, 60);
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  color: rgb(190, 171, 171);
  text-align: center;
  transition: .7s ease;
}
.input-box:focus{
  background-color: rgba(201, 235, 110, 0.3);
  outline: none;
  text-align: center;
  font-size: 1.4em;
  border-radius: .4em .4em .4em .4em;
  color: #2f3848;
}
.input-box::placeholder{
  color: var(--gris2);
  font-size: 1.4rem;
  text-align: center;
  color: rgb(190, 171, 171);
}
//----------------------------------------------------- Crea Cita --------------------------------------------------------------
.citas-cont{
  font-family: var(--textFont);
  height: 60vh;
  padding: 2em;
  .calendario{
    display: flex;
    justify-content: center;
    min-height: 50%;
    max-height: 65%;
    .calendar{
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
    }
  }
  .citas-info{
    color: var(--gris2);
    .info-afiliado{
      width: 95%;
      background-color: white;
      padding-top: 1.6em;
      padding-left: 1.6em;
      padding-bottom: 1.6em;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
      .info-cont{
        background-color: cornflowerblue;
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .info-texto-title{
          font-size: 1.6em;
          font-weight: bolder;
        }
        .info-texto{
          font-size: 1.3em;
        }
      }
    }
    .horarios{
      width: 95%;
      background-color: white;
      margin-top: 1.5em;
      padding-top: 1.6em;
      padding-left: 1.6em;
      padding-bottom: 1.6em;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
      .horarios-cont{
        .titulo-horarios{
          font-weight: bolder;
        }
        .horarios-inputs{
          height: 4em;
          display: flex;
          justify-content: center;
          .checkbox-cont{
            margin-right: 1.5em;
            .checkinput{
              height: 1.8em;
              width: 1.8em;
              margin-right: 1.5em;
              cursor: pointer;
            }
            .checkhora{
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}
//----------------------------------------------------- Perfil --------------------------------------------------------------
.perfil{
  background-color: white;
  width: 100vw;
  height: 90vh;
  padding-top: 2em;
  padding-bottom: 2em;
  .sidebar-perfil{
    background-color: #F69A11;
    width: 8vw;
    height: 45vh;
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    .sidebar-icons{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1em;
      margin-bottom: .5em;
      .icon-tabler{
        width: 3em;
        height: 3em;
        margin-bottom: .4em;
        transition: ease 1s;
      }
      .sidebar-text{
        font-family: var(--textFont);
        font-weight: bolder;
        font-size: 1.2em;
        color: black;
        cursor: pointer;
      }
    }
  }
  .info-perfil{
    width: 90vw;
    .perfil-dashboard{
      height: 100%;
      width: 100%;
      padding: 1em;
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      .dashboard{
        font-family: var(--dashFont);
        width: 100%;
        padding: 1em;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
        border-radius: .7em;
        cursor: pointer;
        .title-icon{
          display: flex;
          justify-content: space-evenly;
          .dashboard-title{
            width: 75%;
          }
          .edit-cont{
            width: 25%;
            display: flex;
            justify-content: right;
            align-items: baseline;
          }
        }
        .dashboard-title{
          font-size: 3em;
        }
        .dashboard-texto{
          font-size: 1.6em;
        }
        .num-display{
          font-size: 5em;
          margin-bottom: 0px !important;
        }
      }
      .dash-info{
        background-color: #32D95C;
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        cursor: initial;
      }
      .dash-items{
        background-color: #F5DBE1;
        grid-row: 1 / 4;
        grid-column: 4 / 6;
      }
      .dash-citas{
        background-color: #894FDA;
        grid-row: 3 / 5;
        grid-column: 1 / 4;
        color: white;
        .text-map{
          margin-right: 1em;
        }
      }
      .dash-msjs{
        background-color: #F6572E;
        grid-row: 2 / 3;
        grid-column: 3 / 4;
      }
      .dash-favs{
        background-color: #ED2754;
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
    }
  }
}
//----------------------------------------------------- Tienda --------------------------------------------------------------
.main-tienda{
  background-color: white;
  margin: 0px;
  .categorias-tienda{
    height: 5em;
    margin-top: 1em;
    margin-bottom: 2em;
    .grid-cat{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      .categoria{
        margin: .5em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: .2em;
        font-family: var(--dashFont);
        .categoria-text{
          font-size: 2em;
        }
      }
      .categoria:hover{
        background-color: var(--gris2);
        .categoria-text{
          font-size: 2.3em;
          color: white;
        }
      }
      .todos{
        border:.2em solid #dbe709;
      }
      .ruta{
        border:.2em solid #eec500;
      }
      .mountain{
        border:.2em solid #f9a200;
      }
      .triatlon{
        border:.2em solid #fb7d10;
      }
      .urbana{
        border:.2em solid #f6572e;
      }
      .cont-on{
        background-color:  var(--gris2);
        border: none;
        .categoria-text{
          font-size: 2.3em;
          color: white;
        }
      }
    }
  }
  .cont-cardstienda{
    background-color: white;
    width: 100vw;
    height: 80vh;
  }
}

